<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted text-white">Copyright &copy; 2023</span>
    </div>
</footer>

<style>
    footer .text-white {
        color: white !important;
    }
</style>